@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.header{
    margin:100px;
}
.container{
    display: flex;
    justify-content: center;
}
.calculator{
    width: 390px;
    padding: 20px;
    border-radius: 1em;
}
.screens{
    border-radius: 1em;
    background-color: #9dab9dba;
}
.memory-screen{
    display: flex;
    justify-content: end;
    padding: 5px;
    font-family: 'Orbitron';
    font-size: medium;
}
.input-screen{
    display: flex;
    justify-content: end;
    font-size: xx-large;
    font-family: 'Orbitron';
    padding: 10px 5px;
}
.clear, .delete {
    padding: 20px;
    border: green solid 3px;
}

.operand, .number {
    padding: 20px;
    border: blue solid 1px;
}
/* grid layout and button setup */

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding:10px;
    padding-top: 30px;
}
#equal{
    grid-row: span 2;
}
.operand,.number,.clear,.delete, #equal{
    font-size: large;
    font-weight: 800;
    border-radius: 2em;
}
/* delete later */
.memory-screen{
    /* border: black solid 2px; */
}
.input-screen{
    /* border: 2px solid red; */
}
.calculator{
    border: 2px solid black;
}

