@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.header{
    margin:100px;
}
.container{
    display: flex;
    justify-content: center;
}
.calculator{
    width: 350px;
    padding: 20px;
}

.input-screen{
    display: flex;
    justify-content: end;
    background-color:#9dab9dba;
    font-size: xx-large;
    font-family: 'Orbitron';
    padding: 10px 5px;
}
.clear, .delete {
    padding: 10px 30px;
    border: green solid 3px;
}

.operand, .number {
    padding: 20px;
    border: blue solid 1px;
}
/* grid layout and button setup */

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding:10px
}
#equal{
    grid-row: span 2;
}
/* delete later */
.input-screen{
    border: 2px solid red;
}
.calculator{
    border: 2px solid black;
}

