@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.header{
    margin:10px;
}
.container{
    display: flex;
    justify-content: center;
}
.calculator{
    width: 390px;
    padding: 20px;
    border-radius: 1em;
    background-color: #1f1b1b;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.screens{
    border-radius: 1em;
    background-color: #9dab9dba;
    box-shadow: inset 0 0 2px 2px #363836d4;
}
.memory-screen{
    display: flex;
    justify-content: end;
    padding: 5px;
    font-family: 'Orbitron';
    font-size: medium;
}
.input-screen{
    display: flex;
    justify-content: end;
    font-size: xx-large;
    font-family: 'Orbitron';
    padding: 10px 5px;
}
.clear, .delete {
    padding: 20px;
    /* border: green solid 3px; */
}

.operand, .number {
    padding: 20px;
    /* border: blue solid 1px; */
}
/* grid layout and button setup */

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding:10px;
    padding-top: 30px;
}
button{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
button:active{
    transform: translateY(3px);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 1.0);
}
#equal{
    grid-row: span 2;
    background-color: #e4970a;
}
.operand,.number,.clear,.delete, #equal{
    font-size: large;
    font-weight: 800;
    border-radius: 2em;
}
.operand,.number,.clear,.delete{
    color: #ffffffe0;
    background-color: #080808e8;
}
/* delete later */
.memory-screen{
    /* border: black solid 2px; */
}
.input-screen{
    /* border: 2px solid red; */
}
.calculator{
    border: 2px solid black;
}

